.gallery{
  display: flex;
  color: #fff;
  font-size: 20px;
}
figure{
  width: 200px;
}
figure img{
  width: 100%;
}
figure figcaption{
  text-align: center;
}
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hola:hover {
    background-color: #fff;
    color: #000;
}
